*{
    background-color:white;
    cursor:auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,h1,p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

p {
    font-size:larger;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
display: none;

}

.quiz {
    display: flex;
    flex-direction: column;
}

.question {
    font-size: large;
    color:black;
    padding: 5px;
    margin-top: 2rem;
}


.button {
    background-color: #002839;
    border: none;
    border-radius: 30%;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}