*{
    background-color: antiquewhite;
    cursor:auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,h1,p {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: large;
}



.hide {
display: none;

}



.button {
    background-color: #002c09;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}