body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hide {
display: none;

}